In [1]:
# Create concepts using wikipedia (and its knowledge graph) 
# https://en.wikipedia.org/wiki/List_of_sports

# Search of sports: Found a link "List of sports"

In [1]:
import pandas as pd
import pyarrow as pa
from datasets import load_from_disk, Dataset

In [2]:
path_dir = '/work3/s174498/concept_random_dataset/wikipedia_20220301/train'
wikipedia = load_from_disk(path_dir)

titles = wikipedia['title']

# Create datasets for sports concepts

Acrobatic sports: No 'Main articles'. Thus, all sub-articles are concatenated into one Level II concept, while these sub-articles (if longer than 150 sentences) are saved for Level III concepts.

In [3]:
acrobatic_sports = ['Ballet',
'Breakdancing',
'Competitive dancing',
'Cheerleading',
'Dancesport',
'Dragon dance',
'Figure skating',
'Freerunning',
'Gymnastics',
'High kick',
'Parkour',
'Pole sports',
'Stunt',
'Trampolining',
'Winter guard']

In [22]:
list_of_interest = acrobatic_sports

count_datasets = 0
concept_list = []
concept_list_saved = []
concatenate_phrases = []

for i in range(len(list_of_interest)): 
    if list_of_interest[i] in titles:
        concept_list.append(list_of_interest[i])
        idx = titles.index(list_of_interest[i])

        # Clean up data (\n references in wiki article)
        text_clean = wikipedia[idx]["text"].replace('\n\n', ' ')
        text_clean2 = text_clean.replace('\n', ' ')
        phrase_to_list = text_clean2.split(". ")

        # Save concepts to "Level II"
        concatenate_phrases = concatenate_phrases + phrase_to_list

        # Save concepts to "Level III"
        if len(phrase_to_list) > 150:
            print(list_of_interest[i])
            concept_list_saved.append(list_of_interest[i])

            df = pd.DataFrame({'id': wikipedia[idx]["id"], 'url': wikipedia[idx]["url"], 
            'title': wikipedia[idx]["title"], 'text': wikipedia[idx]["text"], 'text_list': phrase_to_list})
            data_concept = Dataset(pa.Table.from_pandas(df))

            # save data
            data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/sports_concepts/acrobatic sports/' + list_of_interest[i])

if len(concatenate_phrases) > 150:
    df_levelII = pd.DataFrame({'title': "acrobatic sports", 'text_list': concatenate_phrases})
    data_concept_levelII = Dataset(pa.Table.from_pandas(df_levelII))

    # save data
    data_concept_levelII.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/sports_concepts/' + 'acrobatic sports')

Ballet
Breakdancing
Cheerleading
Figure skating
Gymnastics
Parkour

Next, try all conceps having a 'main articles'

In [29]:
list_of_sport = ['Air sports',
'Archery', 'Boardsport']

In [30]:
list_of_interest = list_of_sport

count_datasets = 0
concept_list = []
concept_list_saved = []
concept_list_notsaved = []

for i in range(len(list_of_interest)): 
    if list_of_interest[i] in titles:
        concept_list.append(list_of_interest[i])
        idx = titles.index(list_of_interest[i])

        # Clean up data (\n references in wiki article)
        text_clean = wikipedia[idx]["text"].replace('\n\n', ' ')
        text_clean2 = text_clean.replace('\n', ' ')
        phrase_to_list = text_clean2.split(". ")
        print(list_of_interest[i])
        print(len(phrase_to_list))

        if len(phrase_to_list) > 150:
            count_datasets = count_datasets + 1
            concept_list_saved.append(list_of_interest[i])

            df = pd.DataFrame({'id': wikipedia[idx]["id"], 'url': wikipedia[idx]["url"], 
            'title': wikipedia[idx]["title"], 'text': wikipedia[idx]["text"], 'text_list': phrase_to_list})
            data_concept = Dataset(pa.Table.from_pandas(df))

            # save data
            data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/sports_concepts/' + list_of_interest[i])
        else: 
            concept_list_notsaved.append(list_of_interest[i])
    else: 
        print(list_of_interest[i] + ' does not exist')

Air sports
5
Archery
322
Boardsport
71

In [33]:
air_sports = ['Aerobatics'
'Air racing'
'Gliding'
'Hang gliding'
'Human powered aircraft'
'Model aircraft'
'Parachuting'
'Paragliding'
'Paramotoring'
'Ultralight aviation']

In [34]:
list_of_interest = air_sports
name_of_folder = 'air sports'

count_datasets = 0
concept_list = []
concept_list_saved = []
concatenate_phrases = []

for i in range(len(list_of_interest)): 
    if list_of_interest[i] in titles:
        concept_list.append(list_of_interest[i])
        idx = titles.index(list_of_interest[i])

        # Clean up data (\n references in wiki article)
        text_clean = wikipedia[idx]["text"].replace('\n\n', ' ')
        text_clean2 = text_clean.replace('\n', ' ')
        phrase_to_list = text_clean2.split(". ")

        # Save concepts to "Level II"
        concatenate_phrases = concatenate_phrases + phrase_to_list

        # Save concepts to "Level III"
        if len(phrase_to_list) > 150:
            print(list_of_interest[i])
            concept_list_saved.append(list_of_interest[i])

            df = pd.DataFrame({'id': wikipedia[idx]["id"], 'url': wikipedia[idx]["url"], 
            'title': wikipedia[idx]["title"], 'text': wikipedia[idx]["text"], 'text_list': phrase_to_list})
            data_concept = Dataset(pa.Table.from_pandas(df))

            # save data
            data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/sports_concepts/name_of_folder/' + list_of_interest[i])

if len(concatenate_phrases) > 150:
    df_levelII = pd.DataFrame({'title': name_of_folder, 'text_list': concatenate_phrases})
    data_concept_levelII = Dataset(pa.Table.from_pandas(df_levelII))

    # save data
    data_concept_levelII.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/sports_concepts/' + name_of_folder)

In [35]:
name_of_folder

'air sports'

In [31]:
concept_list_notsaved

['Air sports', 'Boardsport']

In [5]:

list_of_sports = ['Acrobatic sports',
'Air sports',
'Archery',
'Ball games',
'Ball-over-net games',
'Basketball family',
'Bat-and-ball',
'Board sports',
'Catching games',
'Climbing',
#'Cycling',
'Bicycle',
'Skibob',
'Unicycle',
#'Combat sports: wrestling and martial arts',
'Grappling',
'Striking',
'Mixed or hybrid',
'Weapons',
'Other',
'Cue sports',
'Dog sports',
'Equestrian sports',
'Fishing',
'Flying disc sports',
'Football',
'Golf',
'Gymnastics',
'Competitive yoga',
'Handball family',
'Hunting',
'Ice sports',
'Kite sports',
'Mixed discipline',
'Orienteering family',
'Pilota family',
'Parkour/Freerunning',
#'Racket (or racquet) sports',
'Sports that use a netted racket',
'Sports that use a non-netted racket, or paddle',
'Remote control',
'Rodeo-originated',
'Running',
'Sailing',
#'Snow sports',
'Skiing',
'Sled sports',
'#Shooting sports',
'Individual',
'Athletic hybrid',
'Skirmish',
'Stacking',
#'Stick and ball games',
'Hockey',
'Hurling and shinty',
'Lacrosse',
'Polo',
'Street sports',
'Strength sports',
'Tag games',
'Walking',
'Wall-and-ball',
#'Aquatic and paddle sports',
'Canoeing',
'Kayaking',
'Rafting',
'Rowing',
'Other paddling sports',
#'Aquatic ball sports',
'Competitive swimming',
'Subsurface and recreational',
'Diving',
'Weightlifting',
#'Motorized sports',
'Auto racing',
'Motorboat racing',
'Motorcycle racing',
'ATV racing',
'Marker sports',
'Overlapping sports',
'Other',
'Speedcubing']

In [ ]:
list_of_gender = ['Woman', 'Female', 'Intersex', 'Transsexual', 'Male', 'Man']

In [5]:
list_of_gender = [
'Agender',
'Androgyne',
'Androgynous',
'Bakla',
'Bigender',
'Binary',
'Bissu',
'Butch',
'Calabai',
'Calalai',
'Cisgender',
'Demiflux',
'Demigender',
'Dual gender',
'Endosex',
'Female',
'Femme',
'Gender bender',
'Gender diverse',
'Genderfluid',
'Genderflux',
'Genderfuck',
'Genderless',
'Gender nonconforming',
'Genderqueer',
'Gender variant',
'Intergender',
'Intersex',
'Hijra',
'Kathoey',
'Male',
'Man',
'Multigender',
'Muxe',
'Neurogender',
'Neutrois',
'Non-binary',
'Omnigender',
'Pangender',
'Polygender',
'Third gender',
'Trans man',
'Trans woman',
'Transgender',
'Transfeminine',
'Transmasculine',
'Transsexual',
'Travesti',
'Trigender',
'Two spirit',
'Woman',
'X-gender',
'Xenogender']

In [24]:
list_of_interest = list_of_gender

count_datasets = 0
concept_list = []
concept_list_saved = []

for i in range(len(list_of_interest)): 
    if list_of_interest[i] in titles:
        concept_list.append(list_of_interest[i])
        idx = titles.index(list_of_interest[i])

        # Clean up data (\n references in wiki article)
        text_clean = wikipedia[idx]["text"].replace('\n\n', ' ')
        text_clean2 = text_clean.replace('\n', ' ')
        phrase_to_list = text_clean2.split(". ")
        print(list_of_interest[i])
        print(len(phrase_to_list))
        #if len(phrase_to_list) > 150:
        count_datasets = count_datasets + 1
        concept_list_saved.append(list_of_interest[i])

        df = pd.DataFrame({'id': wikipedia[idx]["id"], 'url': wikipedia[idx]["url"], 
        'title': wikipedia[idx]["title"], 'text': wikipedia[idx]["text"], 'text_list': phrase_to_list})
        data_concept = Dataset(pa.Table.from_pandas(df))

        # save data
        data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/gender_concepts/' + list_of_interest[i])

Woman
225
Female
69
Man
57
Male
60
Intersex
237
Transsexual
220

### Concatenate 'Woman' and 'female'

In [4]:
idx_woman = titles.index('Woman')
idx_female = titles.index('Female')
        
# Clean up data (\n references in wiki article)
text_clean = wikipedia[idx_woman]["text"].replace('\n\n', ' ')
text_clean2 = text_clean.replace('\n', ' ')
w_phrase_to_list = text_clean2.split(". ")

text_clean = wikipedia[idx_female]["text"].replace('\n\n', ' ')
text_clean2 = text_clean.replace('\n', ' ')
f_phrase_to_list = text_clean2.split(". ")

concatenate_phrases = w_phrase_to_list + f_phrase_to_list

df = pd.DataFrame({'title': "woman/female", 'text_list': concatenate_phrases})
data_concept = Dataset(pa.Table.from_pandas(df))

# save data
data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/gender_concepts/' + 'woman_female')

In [66]:
df

            title                                          text_list
0    woman/female                   A woman is an adult female human
1    woman/female  Prior to adulthood, a female human is referred...
2    woman/female  The plural women is sometimes used in certain ...
3    woman/female  Typically, women have two X chromosomes and ar...
4    woman/female  Female anatomy is distinguished from male anat...
..            ...                                                ...
289  woman/female  unrelated genes that are affected by environme...
290  woman/female  This hypothesis is unlikely to apply to a sign...
291  woman/female  Symbol The symbol ♀ (Unicode: U+2640 Alt codes...
292  woman/female  Joseph Justus Scaliger once speculated that th...
293  woman/female  See also  Feminine side  Femininity  Girl  God...

[294 rows x 2 columns]

### Concatenate 'Man' and 'Male'

In [5]:
idx_man = titles.index('Man')
idx_male = titles.index('Male')
        
# Clean up data (\n references in wiki article)
text_clean = wikipedia[idx_man]["text"].replace('\n\n', ' ')
text_clean2 = text_clean.replace('\n', ' ')
man_phrase_to_list = text_clean2.split(". ")

text_clean = wikipedia[idx_male]["text"].replace('\n\n', ' ')
text_clean2 = text_clean.replace('\n', ' ')
male_phrase_to_list = text_clean2.split(". ")

concatenate_phrases = man_phrase_to_list + male_phrase_to_list

df = pd.DataFrame({'title': "man/male", 'text_list': concatenate_phrases})
data_concept = Dataset(pa.Table.from_pandas(df))

# save data
data_concept.save_to_disk('/work3/s174498/concept_random_dataset/wikipedia_20220301/gender_concepts/' + 'man_male')

In [68]:
df

        title                                          text_list
0    man/male                       A man is an adult human male
1    man/male  Prior to adulthood, a male human is referred t...
2    man/male  Like most other male mammals, a man's genome u...
3    man/male  Sex differentiation of the male fetus is gover...
4    man/male  During puberty, hormones which stimulate andro...
..        ...                                                ...
112  man/male  In seed plants, which exhibit alternation of g...
113  man/male  In mammals, including humans, males are typica...
114  man/male  In humans, males have more body hair and muscl...
115  man/male  In birds, the male often exhibits a colorful p...
116  man/male  See also   Boy  Female  Male plant  Male pregn...

[117 rows x 2 columns]